<app-menu></app-menu><br>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" name="filterTipo" placeholder="search Tipo y Concesionaria" [(ngModel)]="filterTipo"><br>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-striped" id="tablaVehiculos">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Año</th>
                    <th scope="col">Kilometros</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Concesionaria</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">QR Vehiculo</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of autosYConcesios | filter:filterTipo">
                <tr>
                    <td>{{item.marca}}</td>
                    <td>{{item.modelo}}</td>
                    <td>{{item.anio}}</td>
                    <td>{{item.kilometros}}</td>
                    <td>
                        <!-- {{item.tipo | convertirTipoImagen:item.foto}} -->
                        <img src="{{item.tipo | convertirTipoImagen:item.foto}}" alt="">
                        <a target="_blank" href="{{item.tipo | convertirTipoImagen:item.foto}}"></a>

                    </td>
                    <td>{{item.concesionaria}}</td>
                    <!-- <td>{{item.localidad}}</td> -->
                    <td>
                        <img src="{{item.foto}}" alt="">
                        <a target="_blank" href="{{item.foto}}"></a>
                    </td>
                    <td>
                        <qr-code [value]="vCardData" [size]="150"></qr-code>
                    </td>
                </tr>
            </tbody>

        </table>
    </div><br>


</div>